@charset "utf-8";
@import url(style.css);

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.column1 {
    padding-top: 3%;
    padding-right: 5%;
    padding-left: 10%;
}

.column2 {
    padding-top: 3%;
    padding-right: 10%;
    padding-left: 5%;
}

p {
    margin-left: 0;
}

h2 {
    margin-bottom: 0;
}

h3 {
    margin-top: 0;
    font-weight: normal;
}

.column1 img {
    max-width: 100%;
}

@media (max-width: 768px) {
    .column1 img {
        display: none;
    }

    
}