@charset "utf-8";
@import url(style.css);


.schedule {
    width: 80%;
    border-collapse: collapse;
    margin: 6% auto;

}

.schedule th,
.schedule td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.schedule th {
    background-color: #f2f2f2;
    font-weight: bold;
}

